{% set breadcrumbs = [(_('Administration'),'/admin'),(_('Projects'), '/admin/projects'), ('[[ project.name ]]',),] %}
{% set titleSuffix = 'Projects - <span contenteditable ng-model="project.name"></span>' %}
{% extends 'partials/admin/partialBase.html' %}

{% block contentAdmin %}
<h3>{{ _('Project :') }} <b contenteditable ng-model="project.name">[[ project.name ]]</b></h3>
<div class="row">
    <div class="col-md-6">
       <div class="panel panel-default">
            <div class="panel-heading">
                <span contenteditable ng-model="project.name">[[ project.name ]]</span>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>{{ _('ID') }}</th>
                    <td>[[ project.id ]]</td>
                </tr>
                <tr ng-show="project.base_path">
                    <th>{{ _('Base path') }}</th>
                    <td>[[ project.base_path ]]</td>
                </tr>
                <tr ng-show="project.git_address">
                    <th>{{ _('Git address') }}</th>
                    <td><span contenteditable ng-model="project.git_address"></span></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-6 pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ _('Machines assigned to project') }}
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>{{ _('ID') }}</th>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Path') }}</th>
                    <th>{{ _('Git reference') }}</th>
                    <th></th>
                </tr>
                <tr ng-repeat="instance in project.instances">
                    <td>[[ instance.id ]]</td>
                    <td>[[ instance.name ]]</td>
                    <td>[[ instance.path ]]</td>
                    <td>[[ instance.git_reference ]]</td>
                    <td><a href="/instances/[[ instance.id ]]">{{ _('View') }}</a></td>
                </tr>
                <tr ng-show="!project.instances.length">
                    <td colspan="5">
                        {{ _('No machine are assigned to this project yet.') }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 pull-right">
       <div class="panel panel-default">
            <div class="panel-heading">
                {{ _('Teams with access to this project') }}
            </div>
            <table class="table">
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th></th>
                </tr>
                <tr ng-repeat="team in project.teams">
                    <td>[[ team.name ]]</td>
                    <td><a href="/admin/teams/[[ team.id ]]">View</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
