
.masthead {
	padding: 30px 0 30px;
	margin-bottom: 0;
}

.masthead h1 {
	font-size: 75px;
	line-height: 1;
	letter-spacing: -2px;
	font-weight: bold;
}

.header-section {
	padding: 50px 0;
	background: #222;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
	color: #FFF;
}

.header-row {
	width: 960px;
	margin: auto;
}

.header-push {
	height: 250px;
}

.main {
	padding-top: 20px;
	min-height: 370px;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.flashes {
	list-style-type: none;
	margin-left: 0;
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eeeeee;
    code, .highlight {
    }
    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
    h4 {
        color: #b94a48;
    }
}

.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
    h4 {
        color: #c09853;
    }
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
    h4 {
        color: #3a87ad;
    }
}

body {
padding-top: 80px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
a {
    padding:10px;
}

.force-show {
  display: block;
}

.navbar-brand {
  background: url('/static/img/nav-logo.png') no-repeat;
  display: block;
  width: 117px;
  height: 70px;
  margin: 5px auto;
  text-indent: -99999px; -webkit-background-size: 117px 99px; -moz-background-size: 117px 99px; background-size: 117px 99px;
}

.btn-glow {
  box-shadow: 0px 0px 15px 5px #285e8e;
}
.loading {
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.loading .well {
  margin-top:10em;
  margin-right: auto;
  margin-left:auto;
  width:400px;
}
.loading .well .progress {
  margin-bottom:0;
}

#position {
    border: 2px solid #c3c3c3;
    border-radius: 20px;
    background-color:none;
    display:none;
    height:25px;
    position:absolute;
    transition:border 0.5s;
    width:25px;
    z-index:99999;
}
#position.active {
    border:6px solid gray;
    transition:border 0.25s;
}
.leap-hover {
    border:2px solid #c3c3c3;
    background-color:lightgray;
    border-radius:3px;
}
