{% set breadcrumbs = [(_('Administration'),'/admin'),(_('Teams'), '/admin/teams'), ('[[ team.name ]]',),] %}
{% set titleSuffix = 'Teams - [[ team.name ]]' %}
{% extends 'partials/admin/partialBase.html' %}

{% block contentAdmin %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                [[ team.name ]]
            </div>
            <table class="table">
                <tr>
                    <th>{{ _('ID') }}</th>
                    <td>[[ team.id ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Provider') }}</th>
                    <td>[[ team.provider ]]</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ _('Users') }} 
            </div>

            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}
