{% set breadcrumbs = [(_('Administration'),'/admin'),(_('Users'), '/admin/users'), ('[[ user.name ]]',),] %}
{% set titleSuffix = 'Users - [[ user.name ]]' %}
{% extends 'partials/admin/partialBase.html' %}

{% block contentAdmin %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                [[ user.name ]]
            </div>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>{{ _('ID') }}</th>
                    <td>[[ user.id ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <td>[[ user.name ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Email') }}</th>
                    <td>[[ user.email ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Role') }}</th>
                    <td>[[ user.role ]]</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ _('The user is part of the teams :') }}
            </div>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>{{ _('Team name') }}</th>
                    <th></th>
                </tr>
                <tr ng-repeat="team in user.teams">
                    <td>[[ team.name ]]</td>
                    <td><a href="/admin/teams/[[ team.id ]]">{{ _('View') }}</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-danger pull-right glyphicon glyphicon-trash" ng-bind-html="[[user.id]]" ng-click="delete()"><span class="sr-only">{{ _('Delete') }}</span></button>
    </div>
</div>
{% endblock %}
