{% set breadcrumbs = [(_('Administration'),'/admin'),(_('Users'),),] %}
{% set titleSuffix = 'Users' %}
{% extends 'partials/admin/partialBase.html' %}
{% block contentAdmin %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default" ng-click="create()">{{ _('Create a new user') }}</button>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <th>{{ _("Name") }}</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>
                  <a href="/admin/users/[[ user.id ]]">[[ user.name ]]</a>
              </td>
              <td>
                  <div class="btn-group pull-left">
                    <a href="/admin/users/[[ user.id ]]">{{ _('View') }}</a>
                  </div>
                  <div class="btn-group pull-right">
                    <button href="#" ng-click="delete(user)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" /></button>
                  </div>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
