<div class="row-fluid">
    <div>
            <form class="form">
                <div class="form-group">
                    <label for="name">{{ _('Name') }}</label>
                    <input type="text" name="name" id="name" ng-model="instanceInfo.name" placeholder="{{ _('Super project') }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="name">{{ _('Environment') }}</label>
                    <input type="text" name="environment" id="environment" ng-model="instanceInfo.environment" placeholder="{{ _('validation') }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="path">{{ _('Path') }}</label>
                    <input type="text" name="path" id="path" ng-model="instanceInfo.path" placeholder="/shared/project" class="form-control"/>
                </div>
            </form>
    </div>
</div>
