{% set breadcrumbs = [(_('Instances'),'/instances'),('[[ instance.name ]]',),] %}
{% extends 'partials/partialBase.html' %}

{% block content %}
<h3>{{ _('Instance :') }} <b>[[ instance.name ]]</b></h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                [[ instance.name ]]
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>{{ _('ID') }}</th>
                    <td>[[ instance.id ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Path') }}</th>
                    <td>[[ instance.path ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Environment') }}</th>
                    <td>[[ instance.environment ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Project') }}</th>
                    <td>[[ instance.project.name ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Host') }}</th>
                    <td>[[ instance.host.name ]] - [[ instance.host.provider ]]</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-6 pull-right" ng-repeat="machine in instance.status">
        <div class="panel panel-default">
            <div class="panel-heading">
                Status <em>[[ machine.name ]]</em>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Currently</th>
                    <td><span ng-bind="machine.status"></span></td>
                </tr>
                <tr>
                    <th>IP</th>
                    <td><span ng-bind="machine.ip"></span><button class="btn btn-default pull-right" ng-click="refreshIP($event, machine.name)"><span class="glyphicon glyphicon-refresh"></span></button></td>
                </tr>
            </table>
            <div class="panel-footer">
                <div class="btn-group">        
                    <button class="btn btn-warning" ng-click="control('stop', machine.name)">{{ _('Stop') }}</button>
                    <button class="btn btn-primary" ng-click="control('provision', machine.name)">{{ _('Provision') }}</button>
                    <button class="btn btn-primary" ng-click="control('start', machine.name)">{{ _('Start') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 pull-left">
        <div class="btn-group pull-left">
            <button type="button" class="btn btn-danger pull-right glyphicon glyphicon-trash" ng-bind-html="[[instance.state]]" ng-click="delete()"><span class="sr-only">{{ _('Delete') }}</span></button>
        </div>
    </div>
    <div class="col-md-4 pull-right">
    </div>
</div>
<br />
<div class="row">
    <div class="cold-md-8 well" id="console">
    </div>
</div>
{% endblock %}
