{% set breadcrumbs = [(_('Instances'),),] %}
{% extends 'partials/partialBase.html' %}

{% block content %}
<h3>{{ _('Instances') }}</h3>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <input ng-model="query.name" class="form-control" placeholder="Search" style="width:200px"/>
            <select ng-model="query.environment" class="form-control" style="width:200px" ui-select2>
                <option value="">{{ _('All environments') }}</option>
                <option ng-repeat="state in states" value="[[ state.type ]]">[[ state.label ]]</option>
            </select>
            <select ng-model="query.project" class="form-control" style="width:200px" ui-select2>
                <option value="">{{ _('All projects') }}</option>
                <option ng-repeat="project in projects">[[ project.name ]]</option>
            </select>
            <select ng-model="query.project" class="form-control" style="width:200px" ui-select2>
                <option value="">{{ _('All hosts') }}</option>
                <option ng-repeat="host in hosts">[[ host.name ]]</option>
            </select>
            <button type="button" class="btn btn-default" ng-click="create()">{{ _('Create a new machine') }}</button>
        </form>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
              <th>{{ _("Name") }}</th>
              <th>{{ _("Project") }}</th>
              <th>{{ _("Path") }}</th>
              <th>{{ _("Environment") }}</th>
              <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="instance in instances | filter:query.name | filter:query.environment | filter:query.project">
              <td>
                  <a href="/instances/[[ instance.id ]]">[[ instance.name ]]</a>
              </td>
              <td>
                  [[ instance.project.name ]]
              </td>
              <td>
                  [[ instance.path ]]
              </td>
              <td>
                  [[ instance.environment ]]
              </td>
              <td>
                <div class="btn-group">        
                    <a href="/instances/[[ instance.id ]]" class="">{{ _('View') }}</a>
                </div>
                <div class="btn-group pull-right">        
                    <button href="#" ng-click="delete(instance.id, instance.name)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" /></button>
                </div>
                 <div class="btn-group pull-right">        
                    <button ng-click="control(instance.id, 'stop')" class="btn btn-warning">{{ _('Stop') }}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      {{ _('Start') }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#" ng-click="control(instance.id, 'start-lxc')">LXC</a></li>
                      <li><a href="#" ng-click="control(instance.id, 'start-virtualbox')">VirtualBox</a></li>
                      <li><a href="#" ng-click="control(instance.id, 'start-vsphere')">vSphere</a></li>
                    </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
