<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ instance.name }}
			</div>
			<table class="table">
				<tr>
					<th>Project</th>
					<td><span class="label label-info">{{ instance.project }}</span></td>
				</tr>
				<tr>
					<th>ID</th>
					<td>{{ instance.id }}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-8 pull-right">
		<div class="panel panel-default">
			<div class="panel-heading">
				Status
			</div>
			<table class="table table-bordered">
				<tr>
					<th>Currently</th>
					<td><span class="label label-{{ instance.state | stateClass }}" ng-bind-template="{{instance.state | uppercase }}"></span></td>
				</tr>
				<tr>
					<th>Public DNS</th>
					<td><a href="http://{{ instance.public_dns }}">{{ instance.public_dns }}</a></td>
				</tr>
				<tr>
					<th>IP</th>
					<td>{{ instance.ip }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2 pull-right" ng-switch on="instance.state">
		<button type="button" class="btn btn-danger pull-right" ng-switch-when="running" ng-bind-html="{{instance.state}}" ng-click="stop()">Stop Instance</button>
		<button type="button" class="btn btn-danger pull-right" ng-switch-when="stopped" ng-bind-html="{{instance.state}}" ng-click="start()">Start Instance</button>
	</div>
</div>
