{% set breadcrumbs = [(_('Administration'),),] %}
{% extends 'partials/admin/partialBase.html' %}
{% block contentAdmin %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ _('Latest Projects') }}
              <div class="pull-right">
                  <a href="/admin/projects">{{ _('View all') }}</a>
              </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Number of machines') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in projects">
                  <td>[[ project.name ]]</td>
                  <td>[[ project.instances.length ]]</td>
                  <td><a href="/admin/projects/[[ project.id ]]">{{ _('View') }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              {{ _('Latest Teams') }}
              <div class="pull-right">
                <a href="/admin/teams">{{ _('View all') }}</a>
              </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Number of users') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="team in teams">
                  <td>[[ team.name ]]</td>
                  <td>[[ team.users.length ]]</td>
                  <td><a href="/admin/teams/[[ team.id ]]">{{ _('View') }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              {{ _('Latest Hosts') }}
              <div class="pull-right">
                <a href="/admin/hosts">View all</a>
              </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Provider') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="host in hosts">
                  <td>[[ host.name ]]</td>
                  <td>[[ host.provider ]]</td>
                  <td><a href="/admin/hosts/[[ host.id ]]">{{ _('View') }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              {{ _('Latest Users') }}
              <div class="pull-right">
                <a href="/admin/users">{{ _('View all') }}</a>
              </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users">
                  <td>[[ user.name ]]</td>
                  <td><a href="/admin/users/[[ user.id ]]">{{ _('View') }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              {{ _('Latest Domain Controllers') }}
              <div class="pull-right">
                <a href="/admin/domainControllers">{{ _('View all') }}</a>
              </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="domain_controller in domain_controllers">
                  <td>[[ domain_controller.name ]]</td>
                  <td><a href="/admin/domainControllers/[[ domain_controller.id ]]">{{ _('View') }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              {{ _('SSL keys') }}
              <div class="pull-right">
                <a href="/admin/ssl">{{ _('View all') }}</a>
              </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ssl_key in ssl_keys">
                  <td>[[ ssl_key.name ]]</td>
                  <td><a href="/admin/ssl/[[ ssl_key.id ]]">{{ _('View') }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
