<!doctype html>
<html lang="en" {% block ngapp %}ng-app="AngularFlask"{% endblock ngapp %}>
<head>
    <meta charset="utf-8">
    <title>VagrantControl</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-resource.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/filters.js"></script>

    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/static/lib/angular/createDialog.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">VagrantControl</a>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/instances">Instances</a></li>
            <li><a href="/domains">Domaines</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container page">
        {% block content %}
            <div id="content" class="container main" ng-view>
            </div>
        {% endblock %}
        <div class="row">
            <div class="col-md-12">
                <hr>
                <footer id="footer" class="footer">
                    <div class="footer-left">
                        <a href="/">Accueil</a> |
                        <a href="/instances">Instances</a> |
                        <a href="/domains">Domaines</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
