{% set breadcrumbs = [(_('User'),'/'),('[[ user.name ]]',),] %}
{% extends 'partials/partialBase.html' %}

{% block content %}
<h3>{{ _('Keys for user :') }} <b>[[ user.name ]]</b></h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                [[ user.name ]]
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>{{ _('Key') }}</th>
                    <th>{{ _('Delete') }}</th>
                </tr>
                <tr ng-repeat="key in user.api_keys">
                    <td>[[ key.value ]]</td>
                    <td>
                        <button href="#" ng-click="delete(key)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" /></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
