<div class="row-fluid">
    <div>
        <form class="form">
            <div class="form-group">
                <label for="project">{{ _('Project') }}</label>
                <select name="project" id="project" ui-select2 ng-model="instanceInfo.project" class="form-control" ng-click="selectProject(instanceInfo.project)">
                    <option value=""></option>
                    <option ng-repeat="project in projects" value="[[ project.id ]]">[[ project.name ]]</option>
                </select>
            </div>
            <div class="form-group">
                <label for="project">{{ _('Host') }}</label>
                <select name="host" id="host" ui-select2 ng-model="instanceInfo.host" class="form-control">
                    <option value=""></option>
                    <option ng-repeat="host in hosts" value="[[ host.id ]]">[[ host.name ]]</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">{{ _('Name') }}</label>
                <input type="text" name="name" id="name" ng-model="instanceInfo.name" placeholder="{{ _('Super project') }}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="name">{{ _('Environment') }}</label>
                <input type="text" name="environment" id="environment" ng-model="instanceInfo.environment" placeholder="{{ _('validation') }}" class="form-control"/>
            </div>
            <div class="form-group" ng-show="showBasePath">
                <label for="path">{{ _('Path') }}</label>
                <input type="text" name="path" id="path" ng-model="instanceInfo.path" placeholder="[[ instanceInfo.base_path ]]" class="form-control"/>
            </div>
            <div class="alert" ng-show="!instanceInfo.project">
              {{_('Please select a project in order to configure it...')}}
            </div>
            <div ng-show="instanceInfo.project">
              <div id="tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a data-target="#git" role="tab" data-toggle="tab" ng-click="resetTabInfos();">Git</a></li>
                  <li><a data-target="#direct_path" role="tab" data-toggle="tab" ng-click="resetTabInfos();">Direct path</a></li>
                </ul>
              </div>
              <div class="tab-content well" >
                <div class="tab-pane active" id="git">
                  <div class="info" ng-show="!showGitReference">
                    {{_('This project has no git configuration, please configure it or use the archive option')}}
                  </div>
                  <div class="form-group" ng-show="showGitReference">
                    <label for="gitReference">{{ _('Git reference') }}</label>
                    <button class="btn btn-default pull-right" ng-click="refreshGitReferences(1)"><span class="glyphicon glyphicon-refresh"></span></button>
                    <select name="gitReference" id="gitReference" ui-select2 ng-model="instanceInfo.gitReference" class="form-control">
                      <option value=""></option>
                      <option ng-repeat="gitRef in gitReferences" value="[[ gitRef ]]">[[ gitRef ]]</option>
                    </select>
                  </div>
                </div>
                <div class="tab-pane" id="direct_path">
                  <p>{{ _('Enter the URL to download an archive (zip or tgz)') }}</p>
                  <div class="form-group">
                    <label for="archive_url">{{ _('URL') }}</label>
                    <input type="text" class="form-control" id="archive_url" ng-model="instanceInfo.archive_url" />
                  </div>
                </div>
              </div>
            </div>
        </form>
    </div>
</div>
