{% set breadcrumbs = [(_('Administration'),'/admin'),] %}
{% extends 'partials/admin/partialBase.html' %}
{% block contentAdmin %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ _('Latests Projects') }}</div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Number of machines') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>bleh</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>bleh</td>
                  <td>2</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <a href="/admin/projects">{{ _('View all') }}</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ _('Latests Teams') }}</div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Number of users') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>bleh</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>bleh</td>
                  <td>2</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <a href="/admin/teams">{{ _('View all') }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ _('Latests Hosts') }}</div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Number of users') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>bleh</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>bleh</td>
                  <td>2</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <a href="/admin/hosts">View all</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ _('Latests Users') }}</div>
          <table class="table">
            <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>bleh</td>
                  <td>2</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer">
            <a href="/admin/users">{{ _('View all') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
