{% set breadcrumbs = [(_('Domain'),),] %}
{% extends 'partials/partialBase.html' %}

{% block content %}
<h3>{{ _('Domains') }}</h3>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <input ng-model="query.name" class="form-control" placeholder="Search" style="width:500px"/>
            <button type="button" class="btn btn-default pull-right" ng-click="create()">{{ _('Create a new domain') }}</button>
        </form>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-hover table-bordered">
                <thead>
                        <th>{{ _('URI') }}</th>
                        <th>{{ _('htpasswd') }}</th>
                        <th>{{ _('ssl') }}</th>
                        <th>{{ _('Number of servers') }}</th>
                        <th>{{ _('Domain Controller') }}</th>
                        <th></th>
                </thead>
                <tbody>
                        <tr ng-repeat="domain in domains | filter:query.name">
                                <td>
                                    <a href="#" ng-click="edit(domain)" class="pull-left">[[ domain.uri ]]</a><a href="http://[[ domain.uri ]]" target="_blank" class="pull-right"><span class="glyphicon glyphicon-link"></span></a>
                                </td>
                                <td>
                                        [[ domain.htpasswd ]]
                                </td>
                                <td>
                                        [[ domain.ssl_key ]]
                                </td>
                                <td>
                                        [[ domain.upstreams.length ]]
                                </td>
                                <td>
                                        [[ domain.domain_controller.name ]]
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" ng-click="edit(domain)">{{ _('View') }}</a>
                                    </div>
                                    <div class="btn-group pull-right">
                                        <button href="#" ng-click="delete(domain)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" /></button>
                                    </div>
                                </td>
                        </tr>
                        <tr ng-show="!(domains | filter:query.name).length">
                            <td colspan="5">
                                {{ _('No domain yet. Press the button at the top to add one.') }}
                            </td>
                        </tr>
                </tbody>
        </table>
    </div>
</div>
{% endblock %}
