<div class="row-fluid">
    <div>
            <form class="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" ng-model="instanceInfo.name" placeholder="Super project" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="name">Environment</label>
                    <input type="text" name="environment" id="environment" ng-model="instanceInfo.environment" placeholder="validation" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="path">Path</label>
                    <input type="text" name="path" id="path" ng-model="instanceInfo.path" placeholder="/shared/project" class="form-control"/>
                </div>
            </form>
    </div>
</div>
