<div class="row">
	<div class="col-md-12">
		<form class="form-inline">
			<input ng-model="query.$" class="form-control" placeholder="Search" style="width:200px"/>
			<select ng-model="query.status" class="form-control" style="width:200px">
				<option></option>
				<option value="running">Running only</option>
				<option value="poweroff">Stopped</option>
				<option value="aborted">Aborted</option>
				<option value="not created">Not created</option>
				<option value="saved">Suspended</option>
			</select>
			<button type="button" class="btn btn-default" ng-click="create()">Create a new machine</button>
		</form>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover table-bordered">
				<thead>
						<th>Name</th>
						<th>Path</th>
						<th>IP</th>
						<th>Status</th>
						<th></th>
				</thead>
				<tbody>
						<tr ng-repeat="instance in instances | filter:query" ng-class="{success: instance.status.search('running') != -1, warning: instance.status.search('poweroff') != -1, danger: instance.status.search('aborted') != -1}">
								<td>
									{{ instance.name }}
								</td>
								<td>
										{{ instance.path }}
								</td>
								<td>
										{{ instance.ip }}
								</td>
								<td>
										{{ instance.status }}
								</td>
								<td>
									<div class="btn-group">		
										<a href="/instances/{{ instance.id }}" class="btn btn-default">View</a>
										<!-- <a href="/instances/{{ instance.id }}#edit" class="btn btn-default">Edit</a></li> -->
										<a href="/instances/{{ instance.id }}#edit" class="btn btn-danger">Delete</a></li>
									</div>
								 	<div class="btn-group pull-right">		
										<a href="#" ng-click="control(instance.id, 'start')" class="btn btn-warning">Start</a>
										<a href="#" ng-click="control(instance.id, 'stop')" class="btn btn-danger">Stop</a>
									</div>
								</td>
						</tr>
				</tbody>
		</table>
	</div>
</div>
<div class="row">
	<!--
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Summary</h3>
			</div>
			<div class="panel-body">
				Running instances : <span class="label label-success">{{ running }}</span><br />
				Stopped instances : <span class="label label-danger">{{ stopped }}</span>
			</div>
		</div>
	</div>
	-->
</div>
