<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <button type="button" class="btn btn-default" ng-click="create()">Create a new domain</button>
        </form>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered">
                <thead>
                        <th>Slug</th>
                        <th>Domaine</th>
                        <th>IP</th>
                        <th></th>
                </thead>
                <tbody>
                        <tr ng-repeat="domain in domains">
                                <td>
                                    {{ domain.slug }}
                                </td>
                                <td>
                                        {{ domain.domain }}
                                </td>
                                <td>
                                        {{ domain.ip }}
                                </td>
                                <td>
                                    <div class="btn-group">        
                                        <a href="#" ng-click="edit(domain)" class="btn btn-default">Edit</a>
                                        <a href="#" ng-click="delete(domain.slug)" class="btn btn-danger">Delete</a>
                                    </div>
                                </td>
                        </tr>
                </tbody>
        </table>
    </div>
</div>
