{% set breadcrumbs = [(_('Administration'),'/admin'),(_('Host'), '/admin/hosts'), ('[[ host.name ]]',),] %}
{% set titleSuffix = 'Hosts - <b contenteditable ng-model="host.name"></b>' %}
{% extends 'partials/admin/partialBase.html' %}

{% block contentAdmin %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span contenteditable ng-model="host.name"></span>
            </div>
            <table class="table">
                <tr>
                    <th>{{ _('ID') }}</th>
                    <td>[[ host.id ]]</td>
                </tr>
                <tr>
                    <th>{{ _('Provider') }}</th>
                    <td><span contenteditable ng-model="host.provider"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ _('Parameters') }} 
            </div>

            <div class="panel-body" contenteditable ng-model="host.params">
            </div>
        </div>
    </div>
</div>
{% endblock %}
